<!DOCTYPE html>
<html>
  <head>
    <title>ProWay Plus - Business, Finance HTML Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="fonts/fi/flaticon.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/indent.css">
    <link rel="stylesheet" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" href="rs-plugin/css/layers.css">
    <link rel="stylesheet" href="rs-plugin/css/navigation.css">
  </head>
  <body>
    <!-- header page-->
    <header>
      <!-- site top panel-->
      <div class="site-top-panel">
        <div class="container p-relative">
          <div class="row">
            <div class="col-sm-6">
              <!-- lang select wrapper-->
              <div class="top-left-wrap">
                <div class="lang-wrap">
                  <div>
                    <ul>
                      <li><a href="#" class="lang-sel icl-en">En<i class="flaticon-internet"></i></a>
                        <ul>
                          <li class="icl-fr"><a href="#">Fr</a></li>
                          <li class="icl-de"><a href="#">De</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div><span>|</span>
                <div class="social-wrap"><a href="https://plus.google.com/" title="Google +" class="cws_social_link"><i class="share-icon fa fa-google-plus"></i></a><a href="http://twitter.com/" title="Twitter" class="cws_social_link"><i class="share-icon fa fa-twitter"></i></a><a href="http://facebook.com" title="Facebook" class="cws_social_link"><i class="share-icon fa fa-facebook"></i></a><a href="http://dribbble.com" title="Dribbble" class="cws_social_link"><i class="share-icon fa fa-dribbble"></i></a></div>
              </div>
              <!-- ! lang select wrapper-->
            </div>
            <div class="col-sm-6 text-right">
              <div class="top-right-wrap">
                <div class="top-login"><i class="flaticon-people-2"></i>Login</div><span>|</span>
                <div class="top-shop"><i class="flaticon-commerce"></i>Shop
                  <aside class="widget-top-sellers shop-cart-menu">
                    <p>There Are <span>2 items</span> In Your Bag</p>
                    <!-- item recent post-->
                    <div class="item-top-sellers clearfix"><img src="pic/shop/70x80/1.jpg" data-at2x="pic/shop/70x80/1@2x.jpg" alt>
                      <h3 class="title"><a href="shop-single.html">Integer ante arcu serius</a> <a href="#" class="shop-close"><i class="flaticon-cross"></i></a></h3>
                      <div class="price">$40.<span class="mini-price">99</span> <span class="old-price">$30.<span class="mini-price">99</span></span></div>
                      <div class="star-rating full"></div>
                      <div class="cws_divider mt-10 mb-10"> </div>
                    </div>
                    <!-- ! item recent post-->
                    <!-- item recent post-->
                    <div class="item-top-sellers clearfix"><img src="pic/shop/70x80/2.jpg" data-at2x="pic/shop/70x80/2@2x.jpg" alt>
                      <h3 class="title"><a href="shop-single.html">Aenean tellus metus</a> <a href="#" class="shop-close"><i class="flaticon-cross"></i></a></h3>
                      <div class="price">$15.<span class="mini-price">99</span></div>
                      <div class="star-rating full"></div>
                      <div class="cws_divider mt-10 mb-10"></div>
                    </div>
                    <!-- ! item recent post-->
                    <div class="total clearfix">
                      <div class="sub-total">Subtotal: <span>$57</span></div><a href="#" class="clear">Clear All Data <i class="flaticon-recycle"></i></a>
                    </div>
                    <div class="cart-buttons"><a href="shop-cart.html" class="cws-button alt mini">View Cart</a><a href="shop-checkout.html" class="cws-button mini">Checkout</a></div>
                  </aside>
                </div><span>|</span>
                <div class="top-search"><i class="flaticon-interface"></i>Search</div>
              </div>
            </div>
            <div class="search_menu_cont">
              <form role="search" method="get" class="form">
                <div class="search-wrap">
                  <input type="text" placeholder="Search . . ." class="form-control search-field">
                </div>
              </form>
              <div class="search_back_button"><i class="fa fa-close"></i></div>
            </div>
          </div>
        </div>
      </div>
      <!-- ! site top panel-->
      <!-- Navigation panel-->
      <nav class="main-nav js-stick">
        <div class="full-wrapper relative clearfix container">
          <!-- Logo ( * your text or image into link tag *)-->
          <div class="nav-logo-wrap local-scroll"><a href="index.html" class="logo"><img src="img/logo.png" data-at2x="img/logo@2x.png" alt><img src="img/logo.png" alt class="sticky-logo"></a></div>
          <!-- Main Menu-->
          <div class="inner-nav desktop-nav">
            <ul class="clearlist">
              <!-- Item With Sub-->
              <li><a href="index.html" class="mn-has-sub">Home <i class="fa fa-angle-down button_open"></i></a>
                <ul class="mn-sub">
                  <li><a href="index.html">Standart Slider</a></li>
                  <li><a href="index-slider.html">Full-Screen Slider</a></li>
                  <li><a href="index-video.html">Video Background</a></li>
                </ul>
              </li>
              <!-- End Item With Sub-->
              <!-- Item With Sub-->
              <li class="megamenu"><a href="page-about-us.html" class="mn-has-sub">Pages <i class="fa fa-angle-down button_open"></i></a>
                <!-- Sub-->
                <ul class="mn-sub mn-has-multi">
                  <li class="mn-sub-multi"><a class="mn-group-title">Pages</a>
                    <ul>
                      <li><a href="page-about-us.html">About Us</a></li>
                      <li><a href="page-services.html">Services</a></li>
                      <li><a href="page-procces.html">Our Procces</a></li>
                      <li><a href="page-our-team.html">Our Team</a></li>
                      <li><a href="page-profile.html">Profile</a></li>
                      <li><a href="page-elements.html">Elements</a></li>
                      <li><a href="page-typography.html">Typography</a></li>
                      <li><a href="page-404.html">Page 404</a></li>
                    </ul>
                  </li>
                  <li class="mn-sub-multi"><a class="mn-group-title">Sale</a>
                    <ul>
                      <li>
                        <div class="sale-wrap mt-15">
                          <div class="widget-image alt"><img src="pic/shop/270x370.jpg" alt>
                            <div class="img-title"><a href="shop-grid.html" class="cws-button small alt">Check it</a>
                              <h3>Holiday Sale</h3>
                              <p>30% Off</p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="mn-sub-multi"><a class="mn-group-title">Popular</a>
                    <ul>
                      <li>
                        <div class="product mt-15 align-left">
                          <!-- picture-->
                          <div class="pic"><a href="shop-single.html"><img src="pic/shop/220x240.jpg" alt></a></div>
                          <!-- ! picture-->
                          <h3 class="product-title mt-10 mb-5"><a href="shop-single.html">Maecenas nec odio</a></h3>
                          <div class="price-review">
                            <div class="star-rating full"><span style="width:100%"></span></div>
                            <div class="price">$54.<span class="price-mini">99</span></div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <!-- End Sub-->
              </li>
              <!-- End Item With Sub-->
              <!-- Item With Sub-->
              <li><a href="portfolio-3-col.html" class="mn-has-sub">Portfolio <i class="fa fa-angle-down button_open"></i></a>
                <!-- Sub-->
                <ul class="mn-sub">
                  <li><a href="portfolio-3-col.html">Three Columns</a></li>
                  <li><a href="portfolio-4-col.html">Four Columns</a></li>
                  <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                  <li><a href="portfolio-with-sidebar.html">With Sidebar</a></li>
                  <li><a href="portfolio-gallery.html">Gallery</a></li>
                  <li><a href="page-portfolio-single.html">Portfolio Single</a></li>
                </ul>
                <!-- End Sub-->
              </li>
              <!-- End Item With Sub-->
              <!-- Item With Sub-->
              <li><a href="blog-sidebar-right.html" class="mn-has-sub">Blog <i class="fa fa-angle-down button_open"></i></a>
                <!-- Sub-->
                <ul class="mn-sub">
                  <li><a href="blog-2-col.html" class="mn-has-sub">Columns<i class="fa fa-angle-right pull-right button_open"></i></a>
                    <ul class="mn-sub to-left">
                      <li><a href="blog-2-col.html">Two Columns</a></li>
                      <li><a href="blog-2-col-sidebar.html">Two Columns + Sidebar</a></li>
                      <li><a href="blog-3-col.html">Three Columns</a></li>
                    </ul>
                  </li>
                  <li><a href="blog-sidebar-right.html">Blog Right Sidebar</a></li>
                  <li><a href="blog-medium-img.html">Medium Images</a></li>
                  <li><a href="blog-small-img.html">Small Images</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
                <!-- End Sub-->
              </li>
              <!-- End Item With Sub-->
              <!-- Item With Sub-->
              <li><a href="shop-grid.html" class="mn-has-sub active">Shop <i class="fa fa-angle-down button_open"></i></a>
                <!-- Sub-->
                <ul class="mn-sub">
                  <li><a href="shop-grid.html">Shop Grid</a></li>
                  <li class="active"><a href="shop-cart.html">Shop Cart</a></li>
                  <li><a href="shop-checkout.html">Shop Checkout</a></li>
                  <li><a href="shop-single.html">Shop Single Product</a></li>
                </ul>
                <!-- End Sub-->
              </li>
              <!-- End Item With Sub-->
              <!-- Item-->
              <li><a href="page-contact.html">Contact</a></li>
              <!-- End Item-->
            </ul>
          </div>
          <!-- End Main Menu-->
        </div>
      </nav>
      <!-- End Navigation panel-->
      <!-- breadcrumbs start-->
      <section style="background-image:url('pic/breadcrumbs/bg-1.jpg');" class="breadcrumbs">
        <div class="container">
          <div class="text-center breadcrumbs-item">
            <h1>Shop</h1><a href="#">home</a><i class="fa fa-angle-right"></i><a href="#">shop</a><i class="fa fa-angle-right"></i><a href="#">Shop</a>
          </div>
        </div>
      </section>
      <!-- ! breadcrumbs end-->
    </header>
    <!-- ! header page-->
    <div class="content-body page">
      <div class="container">
        <div class="row">
          <!-- content-->
          <div class="col-md-8 woocommerce">
            <form action="#" method="post">
              <table class="shop_table cart">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Product</th>
                    <th class="product-name"> </th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-subtotal">Total</th>
                    <th class="product-remove"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cart_item">
                    <td class="product-thumbnail"><a href="shop-single.html"><img src="pic/shop/240x300/4.jpg" data-at2x="pic/shop/240x300/4@2x.jpg" alt="" class="attachment-shop_thumbnail wp-post-image"></a></td>
                    <td class="product-name"><a href="shop-single.html">Integer ante arcu</a></td>
                    <td class="product-price"><span class="amount">155.00<sup>$</sup></span></td>
                    <td class="product-quantity">
                      <div class="quantity buttons_added">
                        <input type="number" step="1" min="0" name="cart" value="2" title="Qty" class="input-text qty text">
                      </div>
                    </td>
                    <td class="product-subtotal"><span class="amount">310.00<sup>$</sup></span></td>
                    <td class="product-remove"><a href="#" title="Remove this item" class="remove"></a></td>
                  </tr>
                  <tr class="cart_item">
                    <td class="product-thumbnail"><a href="shop-single.html"><img src="pic/shop/240x300/3.jpg" data-at2x="pic/shop/240x300/3@2x.jpg" alt="" class="attachment-shop_thumbnail wp-post-image"></a></td>
                    <td class="product-name"><a href="shop-single.html">Maecenas tempus</a></td>
                    <td class="product-price"><span class="amount">220.00<sup>$</sup></span></td>
                    <td class="product-quantity">
                      <div class="quantity buttons_added">
                        <input type="number" step="1" min="0" name="cart" value="1" title="Qty" class="input-text qty text">
                      </div>
                    </td>
                    <td class="product-subtotal"><span class="amount">220.00<sup>$</sup></span></td>
                    <td class="product-remove"><a href="#" title="Remove this item" class="remove"></a></td>
                  </tr>
                  <tr class="cart_item last">
                    <td class="product-thumbnail"><a href="shop-single.html"><img src="pic/shop/240x300/5.jpg" data-at2x="pic/shop/240x300/5@2x.jpg" alt="" class="attachment-shop_thumbnail wp-post-image"></a></td>
                    <td class="product-name"><a href="shop-single.html">Curabitur ullam corper ultrici</a></td>
                    <td class="product-price"><span class="amount">170.00<sup>$</sup></span></td>
                    <td class="product-quantity">
                      <div class="quantity buttons_added">
                        <input type="number" step="1" min="0" name="cart" value="2" title="Qty" class="input-text qty text">
                      </div>
                    </td>
                    <td class="product-subtotal"><span class="amount">340.00<sup>$</sup></span></td>
                    <td class="product-remove"><a href="#" title="Remove this item" class="remove"></a></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="actions">
                      <div class="coupon">
                        <label for="coupon_code">Coupon:</label>
                        <input id="coupon_code" type="text" name="coupon_code" value="" placeholder="Coupon code" class="input-text corner-radius-top">
                        <input type="submit" name="apply_coupon" value="Apply" class="cws-button alt">
                      </div>
                      <input type="submit" name="update_cart" value="Update Cart" class="cws-button">
                      <input type="submit" name="proceed" value="Proceed to Checkout" class="cws-button">
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            <div class="row mt-60">
              <div class="col-md-6 mb-md-40">
                <form action="#" method="post" class="shipping_calculator">
                  <h2 class="mb-30 mt-0">Calculate shipping</h2>
                  <div class="shipping-calculator-form">
                    <p class="form-row form-row-wide">
                      <select id="calc_shipping_country" name="calc_shipping_country" rel="calc_shipping_state" class="country_to_state">
                        <option value="">Select a country...</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="PW">Belau</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                        <option value="BA">Bosnia and Herzegovina</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian Ocean Territory</option>
                        <option value="VG">British Virgin Islands</option>
                        <option value="BN">Brunei</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos (Keeling) Islands</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CG">Congo (Brazzaville)</option>
                        <option value="CD">Congo (Kinshasa)</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa Rica</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CW">CuraÇao</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                      </select>
                    </p>
                    <p class="form-row form-row-wide">
                      <input id="calc_shipping_state" type="text" value="" placeholder="State / county" name="calc_shipping_state" class="input-text">
                    </p>
                    <p class="form-row form-row-wide mb-10">
                      <input id="calc_shipping_postcode" type="text" value="" placeholder="Postcode / Zip" name="calc_shipping_postcode" class="input-text">
                    </p>
                    <p>
                      <button type="submit" name="calc_shipping" value="1" class="cws-button full-width alt">Update Totals</button>
                    </p>
                  </div>
                </form>
              </div>
              <div class="col-md-6 mb-md-60">
                <h2 class="mb-30 mt-0">Cart Totals</h2>
                <table class="total-table">
                  <tbody>
                    <tr class="cart-subtotal">
                      <th>Cart Subtotal</th>
                      <td><span class="amount">$870.00</span></td>
                    </tr>
                    <tr class="shipping">
                      <th>Shipping</th>
                      <td>Free Shipping</td>
                    </tr>
                    <tr class="order-total">
                      <th>Order Total</th>
                      <td><span class="amount">$870.00</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- ! content-->
          <!-- sidebar-->
          <div class="col-md-4 sidebar">
            <aside class="sb-right pb-0">
              <!-- widget search-->
              <div class="cws-widget">
                <div class="widget-search">
                  <form role="search" method="get" action="#" class="search-form">
                    <label><span class="screen-reader-text">Search ...</span>
                      <input type="search" placeholder="Search ..." value="" name="s" title="Search:" class="search-field">
                    </label>
                    <button type="submit" class="search-submit"><i class="flaticon-interface"></i></button>
                  </form>
                </div>
              </div>
              <!-- ! widget search-->
              <!-- widget category-->
              <div class="cws-widget">
                <div class="widget-categories">
                  <h2 class="widget-title">Category</h2>
                  <ul>
                    <li class="cat-item cat-item-1"><a href="#">Accessories</a>[08]</li>
                    <li class="cat-item cat-item-1"><a href="#">Dresses</a>[11]</li>
                    <li class="cat-item cat-item-1"><a href="#">Handbags</a>[14]</li>
                    <li class="cat-item cat-item-1"><a href="#">Jacket</a>[09]</li>
                    <li class="cat-item cat-item-1"><a href="#">Pants</a>[15]</li>
                    <li class="cat-item cat-item-1"><a href="#">Shirts</a>[06]</li>
                    <li class="cat-item cat-item-1"><a href="#">Shoes</a>[13]</li>
                  </ul>
                </div>
              </div>
              <!-- ! widget category-->
              <!-- widget top sellers-->
              <div class="cws-widget">
                <div class="widget-top-sellers">
                  <h2 class="widget-title">Best Sellers</h2>
                  <!-- item recent post-->
                  <div class="item-top-sellers clearfix"><img src="pic/shop/70x60/1.jpg" data-at2x="pic/shop/70x60/1@2x.jpg" alt>
                    <h3 class="title"><a href="shop-single.html">Integer ante arcu serius</a></h3>
                    <div class="price">$40.<span class="mini-price">99</span> <span class="old-price">$30.<span class="mini-price">99</span></span></div>
                  </div>
                  <!-- ! item recent post-->
                  <!-- item recent post-->
                  <div class="item-top-sellers clearfix"><img src="pic/shop/70x60/2.jpg" data-at2x="pic/shop/70x60/2@2x.jpg" alt>
                    <h3 class="title"><a href="shop-single.html">Aenean tellus metus</a></h3>
                    <div class="price">$15.<span class="mini-price">99</span></div>
                  </div>
                  <!-- ! item recent post-->
                  <!-- item recent post-->
                  <div class="item-top-sellers clearfix"><img src="pic/shop/70x60/3.jpg" data-at2x="pic/shop/70x60/3@2x.jpg" alt>
                    <h3 class="title"><a href="shop-single.html">Vestibulum ante ipsum</a><span style="width:80%"></span></h3>
                    <div class="price">$20.<span class="mini-price">99</span></div>
                  </div>
                  <!-- ! item recent post-->
                </div>
              </div>
              <!-- ! widget top sellers-->
              <!-- widget tags-->
              <div class="cws-widget">
                <div class="widget-tags">
                  <h2 class="widget-title">Tags</h2>
                  <!-- item tags--><a href="#" rel="tag" class="tag">business</a><a href="#" rel="tag" class="tag">finances</a><a href="#" rel="tag" class="tag">news</a><a href="#" rel="tag" class="tag">seo</a><a href="#" rel="tag" class="tag">innovations</a><a href="#" rel="tag" class="tag">trends</a><a href="#" rel="tag" class="tag">plans</a><a href="#" rel="tag" class="tag">economics</a>
                </div>
              </div>
              <!-- ! widget tags-->
            </aside>
          </div>
          <!-- ! sidebar-->
        </div>
      </div>
    </div>
    <!-- footer-->
    <footer style="background-image: url('pic/footer/footer-bg.jpg')" class="footer footer-fixed">
      <div class="container">
        <div class="row cws-multi-col">
          <!-- widget footer-->
          <div class="col-md-3 col-sm-6 mb-md-50">
            <div class="widget-footer text">
              <h3>Proway</h3>
              <div class="cws_divider with-plus short-2 mb-5 mt-10"></div>
              <p>Nunc egestas, augue at pellentesque laor es et, felis eros vehicula leo, at malesuada velit leo quis pede, unc nulla. </p>
              <div class="footer-cws-social mt-25"><a href="#" class="cws-social flaticon-social-4"></a><a href="#" class="cws-social flaticon-social"></a><a href="#" class="cws-social flaticon-social-3"></a><a href="#" class="cws-social flaticon-social-1"></a><a href="#" class="cws-social flaticon-social-network"></a></div>
            </div>
          </div>
          <!-- end widget footer-->
          <!-- widget footer-->
          <div class="col-md-3 col-sm-6 mb-md-50">
            <div class="widget-footer">
              <h3>Useful Links</h3>
              <div class="cws_divider with-plus short-2 mb-5 mt-10"></div>
              <ul>
                <li><a href="#">About Us</a> <a href="#">Sitemap</a></li>
                <li><a href="#">Contacts</a> <a href="#">FAQ</a></li>
                <li><a href="#">Services</a> <a href="#">Awards</a></li>
                <li><a href="#">Shop</a> <a href="#">Testimonials</a></li>
                <li><a href="#">News</a> <a href="#">Careers</a>		</li>
              </ul>
            </div>
          </div>
          <!-- end widget footer-->
          <!-- widget footer-->
          <div class="col-md-3 col-sm-6 mb-sm-50">
            <div class="widget-footer">
              <h3>Latest News</h3>
              <div class="cws_divider with-plus short-2 mb-5 mt-10"></div>
              <div class="recent-item clearfix"><a href="blog-single.html"><img src="pic/footer/1.jpg" data-at2x="pic/footer/1@2x.jpg" alt></a>
                <h4 class="recent-title"><a href="blog-single.html">Dusce risus nisl, viverra et</a></h4>
                <p>15 may &nbsp;/&nbsp; By Admin &nbsp;/&nbsp; 5 comments</p>
              </div>
              <div class="recent-item clearfix"><a href="blog-single.html"><img src="pic/footer/2.jpg" data-at2x="pic/footer/2@2x.jpg" alt></a>
                <h4 class="recent-title"><a href="blog-single.html">Maecenas ullamcorper, dui</a></h4>
                <p>14 may &nbsp;/&nbsp; By Admin &nbsp;/&nbsp; 3 comments</p>
              </div>
            </div>
          </div>
          <!-- end widget footer-->
          <!-- widget footer-->
          <div class="col-md-3 col-sm-6">
            <div class="widget-footer">
              <h3>Newsletter</h3>
              <div class="cws_divider with-plus short-2 mb-5 mt-10"></div>
              <address>
                <p>Donec interdum, metus et hendrerit aliquei  dolor diam sagittis ligula, eget egestas deru libero turpis vel mi. </p>
              </address>
              <div class="footer-form-wrap">
                <form method="get" action="#" class="newsletter contact-form">
                  <div class="newsletter-footer-wrap">
                    <input type="text" placeholder="Enter Your Email" value="" name="email" class="newsletter-field">
                    <button type="submit" class="newsletter-submit cws-button alt">Send</button>
                  </div>
                </form>
                <div id="footer-form" role="alert" class="alert alert-danger alt alert-dismissible fade in">
                  <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><i class="alert-icon border fa fa-exclamation-triangle"></i><strong>Error Message!</strong><br>
                  <div class="message"></div>
                </div>
                <div class="email_server_responce"></div>
              </div>
            </div>
          </div>
          <!-- end widget footer-->
        </div>
      </div>
      <!-- copyright-->
      <div class="copyright"> 
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p>© Copyright 2016 <span>Proway</span> &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved</p>
            </div>
            <div class="col-sm-6 text-right"><a href="index.html" class="footer-nav">Home</a><a href="page-about-us.html" class="footer-nav">Pages</a><a href="portfolio-single.html" class="footer-nav">Portfolio</a><a href="blog-single.html" class="footer-nav">Blog</a><a href="shop-single.html" class="footer-nav">Shop</a><a href="page-contact.html" class="footer-nav">Contact</a></div>
          </div>
        </div>
      </div>
      <!-- end copyright-->
      <!-- scroll top-->
    </footer>
    <div id="scroll-top"><i class="fa fa-angle-up"></i></div>
    <!-- ! footer-->
    <!-- login popup-->
    <div class="login-popup">
      <div class="login-popup-wrap">
        <div class="title-wrap">
          <h2>Login</h2><i class="close-button flaticon-cross"></i>
        </div>
        <div class="login-content">
          <form class="form">
            <input type="text" name="email" value="" size="40" placeholder="Enter Your Email ..." aria-required="true" class="form-row form-row-first">
            <input type="text" name="password" value="" size="40" placeholder="Enter Your Password ..." aria-required="true" class="form-row form-row-last">
          </form>
          <div class="remember">
            <div class="checkbox">
              <input id="checkbox3" type="checkbox" value="None" name="check">
              <label for="checkbox3">Remember Me</label>
            </div><a href="#">Forgot Password ?</a>
          </div><a href="#" class="cws-button gray alt full-width mt-20">Login now</a>
        </div>
        <div class="login-bot">
          <p>No account yet? <a href="#">Register now</a></p>
        </div>
      </div>
    </div>
    <!-- ! login popup-->
    <!-- news popup-->
    <div class="news-popup"> 
      <div class="news-popup-wrap"> <i class="close-button flaticon-cross"></i>
        <div class="row">
          <div class="col-sm-6"><img src="pic/news-popup.jpg" data-at2x="pic/news-popup@2x.jpg" alt></div>
          <div class="col-sm-6">
            <div class="news-content">
              <div class="news-title">
                <h2>Newsletter</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
              </div>
              <div class="contact-form-wrap">
                <form method="get" action="#" class="newsletter contact-form">
                  <div class="newsletter-wrap mb-0">
                    <input type="text" placeholder="Enter Your Email ..." value="" name="email" class="newsletter-field mb-0">
                    <button type="submit" class="newsletter-submit cws-button alt">Submit</button>
                  </div>
                </form>
                <div id="news-form" role="alert" class="alert alert-danger alt alert-dismissible fade in">
                  <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><i class="alert-icon border fa fa-exclamation-triangle"></i>
                  <div class="message"></div>
                </div>
                <div class="email_server_responce"></div>
              </div>
              <div class="checkbox-wrap">
                <div class="checkbox">
                  <input id="checkbox4" type="checkbox" value="None" name="check">
                  <label for="checkbox4">Dont Show This Message Again</label>
                </div>
              </div>
              <div class="social-wrap"><a href="#" class="cws-social flaticon-social-4"></a><a href="#" class="cws-social flaticon-social"></a><a href="#" class="cws-social flaticon-social-3"></a><a href="#" class="cws-social flaticon-social-1"></a><a href="#" class="cws-social flaticon-social-network"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ! news popup-->
    <script src="https://www.youtube.com/player_api"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/TweenMax.min.js"></script>
    <script type="text/javascript" src="js/cws_parallax.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bg-video/cws_self_vimeo_bg.js"></script>
    <script type="text/javascript" src="js/bg-video/jquery.vimeo.api.min.js"></script>
    <script type="text/javascript" src="js/bg-video/cws_YT_bg.js"></script>
    <script type="text/javascript" src="js/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/retina.min.js"></script>
  </body>
</html>